
{% block content %}
  <h3>Activity Feed</h3>
  {% for message in messages %}
  <div>
    <a href="{% url 'user-page' message.user.id %}"> @{{message.user}} </a> 
    <small> {{message.created|timesince}}</small>
    <p> replied to post "{{message.room}}"</p>
    <p>{{message}}</p>
    {% if request.user == message.user %}
    <a href="{% url 'update-message' message.id %}">Edit</a>
    <a href="{% url 'delete-message' message.id %}">Delete</a>
    {% endif %}
  </div>
  <hr>
  
  {% endfor %}

{% endblock content %}